body {
  background-color: #f9f9f9;
}

.card {
  padding: 0 10px;
}

.card .card-title {
  padding: 10px 0;
  text-align: center;
  & h3,h4,h5 {
    margin: 0;
  }
}

.card .card-content {
  padding-top: 5px;
}
