.modal-content {
  position: absolute;
  top: 40px;
  left: 20%;
  right: 20%;
  border: 1px solid #ccc;
  background: #fff;
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 20px;
  -webkit-overflow-scrolling: touch;
}
